.lineInput {
  background-color: grey;
  border: none;
  width: 420px;
  padding: 0.2em;
  font-size: 1.2em;
}

.lineInput:hover, .lineInput:focus {
  background-color: aliceblue;
}

body {
  padding: 10px;
}